:org.apache.felix.configadmin.revision:=L"1"
service.factoryPid="com.adobe.aem.graphql.sites.adapters.SlingSchemaServlet"
service.pid="com.adobe.aem.graphql.sites.adapters.SlingSchemaServlet.e7aa003a-1004-49b4-8b09-c56c947a89bf"
sling.servlet.extensions=[ \
  "GQLschema", \
  "schemaerrors", \
  ]
sling.servlet.methods=[ \
  "GET", \
  ]
sling.servlet.resourceTypes=[ \
  "graphql-enablement/components/endpoint", \
  ]
